<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Permission management</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="home-menu"><a href="#/home">Home</a></li>
            <li class="listuser-menu"><a href="#/users">Users</a></li>
            <li class="listperm-menu"><a href="#/perms">Permissions</a></li>
            <li class="listrole-menu"><a href="#/roles">Roles</a></li>
            <li class="login-menu"><a id="login" href="#/login">Login</a></li>
          </ul>
          <img class="ajax-loader" src="img/ajax-loader.gif" alt="Loading..." />
        </div><!--/.nav-collapse -->
      </div>
</nav>
