<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#/home">Permission management</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="home-menu"><a href="#/home">Home</a></li>
          <li class="listuser-menu"><a href="#/users">Users</a></li>
          <li class="listperm-menu"><a href="#/perms">Permissions</a></li>
          <li class="listrole-menu"><a href="#/roles">Roles</a></li>
          <li class="login-menu"><a id="login" href="#/login">Login</a></li>
        </ul>
        <img class="ajax-loader" src="img/ajax-loader.gif" alt="Loading..." />
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
